---
- targets:
{% for item in netbox_query %}
{% if item.value.name == "http" %}
{% for address in item.value.ipaddresses %}
  - {{
    query('netbox.netbox.nb_lookup', 'ip-addresses',
    api_filter='id=' + ( address.id | string ),
    api_endpoint=netbox_url,
    token=netbox_token)[0].dns_name
    }}
{% endfor %}
{% endif %}
{% endfor %}
