[Unit]
Description=Node exporter

[Service]
Type=simple
Restart=always
User=prometheus
ExecStart={{ node_exporter_install_path }}/node_exporter \
--web.listen-address={{ node_exporter_listen_address }}
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
