file:
  {{ goss_bin_dir }}:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: file
    contains: []
  {{ goss_base_dir }}/goss_main.yml:
    exists: true
    mode: "0755"
    owner: root
    group: root
    filetype: file
    contains: []
