service:
    node-exporter:
        enabled: true
        running: true
process:
    node_exporter:
        running: true
command:
    node-exporter_version:
        exec: node_exporter --version
        exit-status: 0
        stdout:
            - version {{ install_node_exporter_bin_version }}
        stderr: []
        timeout: 0
user:
    prometheus:
        exists: true
        groups:
            - prometheus
        shell: /sbin/nologin
port:
{% for listen_port in install_node_exporter_listen_ports %}
    tcp:{{ listen_port }}:
        listening: true
        ip:
{% for listen_address in install_node_exporter_listen_addresses %}
            - {{ listen_address }}
{% endfor %}
{% endfor %}
file:
  {{ send_binary_file.dest }}:
    exists: true
    mode: "{{ send_binary_file.mode }}"
    size: {{ send_binary_file.size }}
    owner: {{ send_binary_file.owner }}
    filetype: file
  {{ send_node_exporter_file.dest }}:
    exists: true
    mode: "{{ send_node_exporter_file.mode }}"
    size: {{ send_node_exporter_file.size }}
    owner: {{ send_node_exporter_file.owner }}
    filetype: file
